[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asyncio = "*"
discord-py = {extras = ["voice"],version = "*"}
wikipedia = "*"
rule34 = "*"
google-images-download = "*"
gspread = "*"
oauth2client = "*"
youtube-dl = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
iso8601 = "*"
italian-dictionary = "*"
lxml = "*"

[requires]
python_version = "3.6"
